######## Artificer's Expansion ########

# Workspace
workspace.code-workspace
.vscode/settings.json

# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Idea
out
*.ipr
*.iws
*.iml
.idea

# Vscode
.vscode
envscoderuns

# Libraries
libs

# Gradle
build
.gradle

# Other
eclipse
run

# Reference Files
Reference Files/