######## Faber Ferrarius ########

# Ignore Workspace
workspace.code-workspace
.vscode/settings.json

#Ignore Reference Files
Reference Files/

## Examples ##
# !filehere -> allows a previously denied file, use this for config files
# folderhere/ -> denies a whole folder